!!!5
%head
  %meta{charset: "utf-8"}
  %link{rel: "stylesheet", href: "/css/bootstrap.min.css"}
  %link{rel: "stylesheet", href: "/css/application.css"}
  %title [TITLE]
%body

  %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
  %script{src: "/js/bootstrap.min.js"}
  %script{src: "/js/application.js"}

